@import "https://fonts.googleapis.com/css?family=Quicksand";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Quicksand";
  display: flex;
}

h1 {
  font-family: "Quicksand";
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: "Quicksand";
  font-weight: 300;
  text-align: center;
}

.sndBtn {
  font-family: Quicksand;
  font-size: 12px;
  height: 30px;
  width: 80px;
  border-radius: 100px;
  border: 1px solid #c1c1c1;
  background-color: #333333;
  color: #f1f1f1;
}

.namebox {
  font-family: Quicksand;
  background-color: white;
  text-align: left;
  border-radius: 120px;
  height: 10px;
  width: 150px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(193, 193, 193);
}

.chatbox {
  font-family: Quicksand;
  background-color: white;
  text-align: left;
  border-radius: 120px;
  height: 10px;
  width: 400px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(193, 193, 193);
}

#lobbyScreen {
  text-align: center;
  display: flex;
  width: 100%;
  padding: 1em 0;
  justify-content: center;
}

#chatSystem {
  text-align: center;
  display: flex;
  width: 100%;
  padding: 1em 0;
  justify-content: center;
  align-items: flex-end;  
}

#initScreen {
  width: 100%;
  justify-content: center;
}

